<section class="advantages">
  <div class="container">
    <ul class="advantages__list">
      <li class="advantages-item">
        <picture>
          <source srcset="img/advantages/1.webp" type="image/webp" />
          <img src="img/advantages/1.png" alt="img" />
        </picture>
        <span class="advantages-item__text">Надежность</span>
      </li>
      <li class="advantages-item">
        <picture>
          <source srcset="img/advantages/2.webp" type="image/webp" />
          <img src="img/advantages/2.png" alt="img" />
        </picture>
        <span class="advantages-item__text">Качество</span>
      </li>
      <li class="advantages-item">
        <picture>
          <source srcset="img/advantages/3.webp" type="image/webp" />
          <img src="img/advantages/3.png" alt="img" />
        </picture>
        <span class="advantages-item__text">Гарантия</span>
      </li>
    </ul>

    <ul class="advantages__cols">
      <li class="advantages-col">
        <p class="advantages-col__text">
          Знаете параметры <br />
          кранового оборудования?
        </p>
        <button class="advantages-col__btn btn btn--transparent" type="button">
          Заполнить опросный лист
        </button>
      </li>
      <li class="advantages-col">
        <p class="advantages-col__text">
          Нужна помощь <br />
          специалиста?
        </p>
        <button class="advantages-col__btn btn btn--transparent" type="button">
          Получить консультацию
        </button>
      </li>
    </ul>
  </div>
</section>
