<section class="articles">
  <div class="articles__top">
    <div class="container">
      <div class="articles__top-inner">
        <h2 class="articles__title section-title">
          Статьи о крановом оборудовании
        </h2>
        <a class="articles__more" href="#">
          Все статьи

          <img src="img/arrow-right.png" alt="стрелка" />
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <ul class="article__list">
      <li class="articles__item">
        <aricle class="article-card">
          <div class="article-card__left">
            <span class="article-card__date">06 июня 2022</span>
          </div>
          <div class="article-card__middle">
            <h3 class="article-card__title">
              <a href="#">Кран балки. Их разновидности и механизмы</a>
            </h3>
            <p class="article-card__text">
              Кран-балка — это не обремененный сложными конструкциями мостовой
              кран, специализированный для работ по переносу габаритных и
              тяжелых грузов. Кран-балка отличается от обычного мостового крана
              тем, что имеет только одну главную балочную часть.
            </p>
          </div>
          <div class="article-card__right">
            <picture>
              <source srcset="img/articles/1.webp" type="image/webp" />
              <img src="img/articles/1.jpg" alt="article" />
            </picture>
          </div>
        </aricle>
      </li>
      <li class="articles__item">
        <aricle class="article-card">
          <div class="article-card__left">
            <span class="article-card__date">05 мая 2022</span>
          </div>
          <div class="article-card__middle">
            <h3 class="article-card__title">
              <a href="#">Проект кранового оборудования под ключ</a>
            </h3>
            <p class="article-card__text">
              На первом фото пустой ангар за три дня в нем установили эстакаду с
              выставленным подкрановым путем и установили кран на подкрановом
              пути, провели пусконаладочные работы.
            </p>
          </div>
          <div class="article-card__right">
            <picture>
              <source srcset="img/articles/2.webp" type="image/webp" />
              <img src="img/articles/2.jpg" alt="article" />
            </picture>
          </div>
        </aricle>
      </li>
    </ul>
  </div>
</section>
