<section class="catalog">
  <div class="container">
    <h2 class="catalog__title section-title">Заполните опросный лист</h2>

    <ul class="catalog__list">
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__top">
            <picture>
              <source srcset="img/products/1.webp" type="image/webp" />
              <img src="img/products/1.png" alt="products" />
            </picture>
          </div>
          <div class="product-card__body">
            <h3 class="product-card__title">
              Краны мостовые <br />
              двухбалочные
            </h3>
            <button class="product-card__btn btn" type="button">
              <img src="img/download-icon.png" alt="download" />
              Заполнить опросный лист
            </button>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__top">
            <picture>
              <source srcset="img/products/1.webp" type="image/webp" />
              <img src="img/products/1.png" alt="products" />
            </picture>
          </div>
          <div class="product-card__body">
            <h3 class="product-card__title">
              Краны мостовые <br />
              двухбалочные
            </h3>
            <button class="product-card__btn btn" type="button">
              <img src="img/download-icon.png" alt="download" />
              Заполнить опросный лист
            </button>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__top">
            <picture>
              <source srcset="img/products/1.webp" type="image/webp" />
              <img src="img/products/1.png" alt="products" />
            </picture>
          </div>
          <div class="product-card__body">
            <h3 class="product-card__title">
              Краны мостовые <br />
              двухбалочные
            </h3>
            <button class="product-card__btn btn" type="button">
              <img src="img/download-icon.png" alt="download" />
              Заполнить опросный лист
            </button>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__top">
            <picture>
              <source srcset="img/products/1.webp" type="image/webp" />
              <img src="img/products/1.png" alt="products" />
            </picture>
          </div>
          <div class="product-card__body">
            <h3 class="product-card__title">
              Краны мостовые <br />
              двухбалочные
            </h3>
            <button class="product-card__btn btn" type="button">
              <img src="img/download-icon.png" alt="download" />
              Заполнить опросный лист
            </button>
          </div>
        </article>
      </li>
      <li class="catalog__item catalog__item--big">
        <article class="product-card">
          <div class="product-card__top">
            <picture>
              <source srcset="img/products/1.webp" type="image/webp" />
              <img src="img/products/1.png" alt="products" />
            </picture>
          </div>
          <div class="product-card__body">
            <h3 class="product-card__title">
              Краны мостовые <br />
              двухбалочные
            </h3>
            <button class="product-card__btn btn" type="button">
              <img src="img/download-icon.png" alt="download" />
              Заполнить опросный лист
            </button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
