<section class="catalog">
  <div class="catalog__top">
    <div class="container">
      <h2 class="catalog__title section-title">Заполните опросный лист</h2>
    </div>
  </div>
  <div class="container">
    <ul class="catalog__list">
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__top">
            <picture>
              <source srcset="img/products/1.webp" type="image/webp" />
              <img src="img/products/1.png" alt="products" />
            </picture>
          </div>
          <div class="product-card__body">
            <h3 class="product-card__title">
              Краны мостовые <br />
              двухбалочные
            </h3>
            <button class="product-card__btn btn overhead-btn" type="button">
              <img src="img/download-icon.png" alt="download" />
              Заполнить опросный лист
            </button>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__top">
            <picture>
              <source srcset="img/products/2.webp" type="image/webp" />
              <img src="img/products/2.png" alt="products" />
            </picture>
          </div>
          <div class="product-card__body">
            <h3 class="product-card__title">
              Краны мостовые <br />
              однобалочные опорные
            </h3>
            <button class="product-card__btn btn  overhead-btn" type="button">
              <img src="img/download-icon.png" alt="download" />
              Заполнить опросный лист
            </button>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__top">
            <picture>
              <source srcset="img/products/3.webp" type="image/webp" />
              <img src="img/products/3.png" alt="products" />
            </picture>
          </div>
          <div class="product-card__body">
            <h3 class="product-card__title">
              Краны мостовые <br />
              однобалочные подвесные
            </h3>
            <button class="product-card__btn btn  overhead-btn" type="button">
              <img src="img/download-icon.png" alt="download" />
              Заполнить опросный лист
            </button>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__top">
            <picture>
              <source srcset="img/products/4.webp" type="image/webp" />
              <img src="img/products/4.png" alt="products" />
            </picture>
          </div>
          <div class="product-card__body">
            <h3 class="product-card__title">
              Краны <br />
              консольные
            </h3>
            <button class="product-card__btn btn jib-btn" type="button">
              <img src="img/download-icon.png" alt="download" />
              Заполнить опросный лист
            </button>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__top">
            <picture>
              <source srcset="img/products/5.webp" type="image/webp" />
              <img src="img/products/5.png" alt="products" />
            </picture>
          </div>
          <div class="product-card__body">
            <h3 class="product-card__title">
              Тележки грузовые <br />
              крановые
            </h3>
            <button class="product-card__btn btn cart-crane-btn" type="button">
              <img src="img/download-icon.png" alt="download" />
              Заполнить опросный лист
            </button>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__top">
            <picture>
              <source srcset="img/products/6.webp" type="image/webp" />
              <img src="img/products/6.png" alt="products" />
            </picture>
          </div>
          <div class="product-card__body">
            <h3 class="product-card__title">
              Тележки рельсовыe <br />
              цеховые
            </h3>
            <button class="product-card__btn btn span-cart-btn" type="button">
              <img src="img/download-icon.png" alt="download" />
              Заполнить опросный лист
            </button>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__top">
            <picture>
              <source srcset="img/products/7.webp" type="image/webp" />
              <img src="img/products/7.png" alt="products" />
            </picture>
          </div>
          <div class="product-card__body">
            <h3 class="product-card__title">
              Лебедки шахтные <br />
              откаточные и маневровые
            </h3>
            <button class="product-card__btn btn" type="button">
              <img src="img/download-icon.png" alt="download" />
              Заполнить опросный лист
            </button>
          </div>
        </article>
      </li>
      <li class="catalog__item catalog__item--big">
        <div class="catalog__item-bg"></div>
        <div class="catalog__item-inner">
          <h3 class="catalog__item-title">Не нашли, что искали?</h3>
          <p class="catalog__item-text">
            Оставьте заявку и на ши специалисты свяжется с Вами в ближайшее
            время и помогут с выбором оборудования.
          </p>
          <button class="catalog__item-btn btn" type="button">
            Оставить заявку
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
