<section class="gallery">
  <div class="container">
    <h2 class="gallery__title section-title">Галерея</h2>
  </div>

  <div class="gallery__content">
    <div class="gallery__slider swiper">
      <ul class="gallery__slides swiper-wrapper">
        <li class="gallery__slide swiper-slide">
          <div class="gallery-card">
            <div class="gallery-card__top">
              <picture>
                <source srcset="img/gallery/1.jpg" type="image/webp" />
                <img src="img/gallery/1.jpg" alt="gallery" />
              </picture>

              <button
                class="gallery-card__btn"
                type="button"
                data-fancybox="gallery"
                data-src="img/gallery/1.jpg"
                data-caption="Подпись к фото"
              ></button>
            </div>
            <span class="gallery-card__text">Подпись к фото</span>
          </div>
        </li>
        <li class="gallery__slide swiper-slide">
          <div class="gallery-card">
            <div class="gallery-card__top">
              <picture>
                <source srcset="img/gallery/2.webp" type="image/webp" />
                <img src="img/gallery/2.jpg" alt="gallery" />
              </picture>
              <button
                class="gallery-card__btn"
                type="button"
                data-fancybox="gallery"
                data-src="img/gallery/2.jpg"
                data-caption="Подпись к фото"
              ></button>
            </div>
            <span class="gallery-card__text">Подпись к фото</span>
          </div>
        </li>
        <li class="gallery__slide swiper-slide">
          <div class="gallery-card">
            <div class="gallery-card__top">
              <picture>
                <source srcset="img/gallery/3.webp" type="image/webp" />
                <img src="img/gallery/3.jpg" alt="gallery" />
              </picture>
              <button
                class="gallery-card__btn"
                type="button"
                data-fancybox="gallery"
                data-src="img/gallery/3.jpg"
                data-caption="Подпись к фото"
              ></button>
            </div>
            <span class="gallery-card__text">Подпись к фото</span>
          </div>
        </li>
        <li class="gallery__slide swiper-slide">
          <div class="gallery-card">
            <div class="gallery-card__top">
              <picture>
                <source srcset="img/gallery/4.webp" type="image/webp" />
                <img src="img/gallery/4.jpg" alt="gallery" />
              </picture>
              <button
                class="gallery-card__btn"
                type="button"
                data-fancybox="gallery"
                data-src="img/gallery/4.jpg"
                data-caption="Подпись к фото"
              ></button>
            </div>
            <span class="gallery-card__text">Подпись к фото</span>
          </div>
        </li>
        <li class="gallery__slide swiper-slide">
          <div class="gallery-card">
            <div class="gallery-card__top">
              <picture>
                <source srcset="img/gallery/1.webp" type="image/webp" />
                <img src="img/gallery/1.jpg" alt="gallery" />
              </picture>
              <button
                class="gallery-card__btn"
                type="button"
                data-fancybox="gallery"
                data-src="img/gallery/1.jpg"
                data-caption="Подпись к фото"
              ></button>
            </div>
            <span class="gallery-card__text">Подпись к фото</span>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
