<section class="hero">
  <div class="hero__wrapper">
    <div class="hero__offer">
      <h2 class="hero__title">
        <span>Производим</span> и реализуем крановое оборудование
      </h2>
      <p class="hero__text">
        Быстро и эффективно реализуем сложные задачи организации производства,
        повысим производительность и безопасность рабочих мест.
      </p>
      <button class="hero__btn btn" type="button">
        Оставить заявку
        <img src="img/arrow-right.png" alt="arrow" />
      </button>
    </div>
    <div class="hero__slider">
      <div class="product__slider">
        <div class="slider-thumbs">
          <div class="slider-thumbs__main swiper" id="slider-main">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <picture>
                  <source srcset="img/hero/1.webp" type="image/webp" />
                  <img src="img/hero/1.jpg" alt="img" />
                </picture>

                <span class="slider-thumbs__text">
                  Опорные <br />
                  краны
                </span>
              </li>
              <li class="swiper-slide">
                <picture>
                  <source srcset="img/hero/2.webp" type="image/webp" />
                  <img src="img/hero/2.jpg" alt="img" />
                </picture>

                <span class="slider-thumbs__text">
                  Подвесные <br />
                  краны
                </span>
              </li>
              <li class="swiper-slide">
                <picture>
                  <source srcset="img/hero/3.webp" type="image/webp" />
                  <img src="img/hero/3.jpg" alt="img" />
                </picture>

                <span class="slider-thumbs__text">
                  Однобалочные <br />
                  краны
                </span>
              </li>
              <li class="swiper-slide">
                <picture>
                  <source srcset="img/hero/4.webp" type="image/webp" />
                  <img src="img/hero/4.jpg" alt="img" />
                </picture>

                <span class="slider-thumbs__text">
                  Двухбаллочные <br />
                  краны
                </span>
              </li>
              <li class="swiper-slide">
                <picture>
                  <source srcset="img/hero/5.webp" type="image/webp" />
                  <img src="img/hero/5.jpg" alt="img" />
                </picture>

                <span class="slider-thumbs__text"> Лебедки </span>
              </li>
            </ul>

            <div class="slider-thumbs__main-arrows">
              <button
                class="swiper-button-next"
                type="button"
                aria-label="Предыдущий"
              ></button>
              <button
                class="swiper-button-prev"
                type="button"
                aria-label="Следующий"
              ></button>
            </div>
          </div>

          <div class="slider-thumbs__nav">
            <div class="slider-thumbs__nav-wrap swiper" id="slider-nav">
              <ul class="swiper-wrapper">
                <li class="swiper-slide slider-nav__slide">Опорные краны</li>
                <li class="swiper-slide slider-nav__slide">Подвесные краны</li>
                <li class="swiper-slide slider-nav__slide">
                  Однобалочные краны
                </li>
                <li class="swiper-slide slider-nav__slide">
                  Двухбаллочные краны
                </li>
                <li class="swiper-slide slider-nav__slide">Лебедки</li>
              </ul>
            </div>

            <!-- <div class="slider-thumbs__nav-control">
              <button
                class="swiper-button-prev"
                type="button"
                aria-label="Следующий"
              ></button>
              <button
                class="swiper-button-next"
                type="button"
                aria-label="Предыдущий"
              ></button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
