<div class="popup popup--overhead">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <span class="popup__title">
        Опросный лист <br />
        для заказа крана мостового
      </span>

      <form class="form-submit">
        <div class="form-submit__inner">
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Грузоподъёмность, (т) </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Пролёт, (м)</span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Высота подъёма груза, (м) </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Место установки крана</span>
          </label>
          <label class="form-submit__group form-submit__group--big">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Управление краном </span>
          </label>

          <div class="checkboxes">
            <span class="checkboxes__text">Рабочие скорости:</span>

            <div class="checkboxes__list">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" required />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Передвижения крана </span>
              </label>
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" required />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Передвижения тележки</span>
              </label>
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" required />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Основного подъема </span>
              </label>
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" required />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"
                  >Вспомогательного подъема (при наличии)</span
                >
              </label>
            </div>
          </div>

          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Расстояние от головки подкранового рельса до первого перекрытия
              (м)
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Исполнение </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Исполнение </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Характеристика среды </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Профиль подкранового пути (тип рельса)
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Длина подкранового пути (м) </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Грузозахватное приспособление, применяемое при работе</span
            >
          </label>
          <label class="form-submit__group g">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Рабочее напряжение, В, род тока
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Необходимость наличия частотных преобразователей в эл.схеме
              управления краном</span
            >
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Токоподвод </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Температурный режим на уровне крана (ОС)
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Схема компоновки механизмов </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Группа режима (режим работы крана)
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Количество заказываемых кранов (единиц)
            </span>
          </label>
          <label class="form-submit__group form-submit__group--big">
            <textarea
              class="form-submit__input form-input form-submit__input--textarea"
            ></textarea>

            <span class="form-submit__text">
              Особые требования к изготовлению крана
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Наименование предприятия, организации заказчика, ИНН/КПП</span
            >
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Адрес предприятия, организации заказчика
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Ответственное лицо заказчика(должность, Ф.И.О.) (контактный
              телефон/факс)
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Руководитель предприятия (должность, Ф.И.О.)
            </span>
          </label>
        </div>

        <button class="form-submit__btn btn" type="button">
          ОТПРАВИТЬ опросный лист
        </button>
      </form>
    </div>
  </div>
</div>

<div class="popup popup--cart-crane">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <span class="popup__title">
        Опросный лист <br />
        для тележки мостового крана
      </span>

      <form class="form-submit">
        <div class="form-submit__inner">
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Грузоподъёмность, (т) </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Режим работы крана</span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Масса тележки, кг </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Высота подъёма крана, м</span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Колея тележки, мм</span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">База тележки, мм</span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Скорость передвижения тележки, м/с</span
            >
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Скорость подъёма груза, м/с</span>
          </label>

          <label class="form-submit__group form-submit__group--big">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Используемые грузозахватные приспособления</span
            >
          </label>

          <label class="form-submit__group form-submit__group--big">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Условия работы крана:</span>
          </label>

          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Температура окружающей среды (°С)
            </span>
          </label>

          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Место установки крана </span>
          </label>

          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Исполнение крана</span>
          </label>

          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Тип подтележечного рельса</span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Наличие ОГП</span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Тип эл/схемы управления на кране</span
            >
          </label>

          <label class="form-submit__group form-submit__group--big">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Тип эл/схемы управления на кране</span
            >
          </label>

          <label class="form-submit__group form-submit__group--big">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Схема компановки механизма подъема</span
            >
          </label>
          <label class="form-submit__group form-submit__group--big">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Дополнительные требования</span>
          </label>

          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Наименование предприятия, организации заказчика, ИНН/КПП</span
            >
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Адрес предприятия, организации заказчика</span
            >
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Ответственное лицо заказчика(должность, Ф.И.О.) (контактный
              телефон/факс)</span
            >
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Руководитель предприятия (должность, Ф.И.О.)</span
            >
          </label>
        </div>

        <button class="form-submit__btn btn" type="button">
          ОТПРАВИТЬ опросный лист
        </button>
      </form>
    </div>
  </div>
</div>

<div class="popup popup--electric">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <span class="popup__title">
        Опросный лист <br />
        для крана мостового электрического
      </span>

      <form class="form-submit">
        <div class="form-submit__inner">
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Конструкция крана (опорный/подвесной)
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Характеристика перемещаемого груза
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Грузоподъемность, т </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Длина пролета, м </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Общая длина, м </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Длина консолей, м (для подвесного)
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Высота подъема, м </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Режим работы (3К, 4К, 5К) </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Периодичность включений (25, 40, 60) %
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Температура окружающей среды, град. С
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Место установки </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Тип </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Тип кранового пути, №, ГОСТ </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Тип тали </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Наличие тормоза на передвижение тали
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Наличие 2х скоростей на передвижение тали, м/с
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Тип токоподвода (кабельный, троллейный)
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Класс взрывоопасной зоны: </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Группа взрывоопасной смеси: </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Категория взрывоопасной смеси:
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Кол-во ГПМ на подкрановом пути
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Ограничитель движения кран-балки
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Регулирование скорости на ходу моста
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Место работы кран-балки </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Интенсивность работы </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> RAL оборудования </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Регулирование скорости на ходу моста
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Управление посредством радиочастотного канала (Радиоуправление)
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Управление с пола (подвесной пульт)
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Управление с пола (подвесной пульт)
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Наименование предприятия, организации заказчика, ИНН/КПП
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Адрес предприятия, организации заказчика
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Ответственное лицо заказчика(должность, Ф.И.О.) (контактный
              телефон/факс)
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Руководитель предприятия (должность, Ф.И.О.)</span
            >
          </label>
        </div>

        <button class="form-submit__btn btn" type="button">
          ОТПРАВИТЬ опросный лист
        </button>
      </form>
    </div>
  </div>
</div>

<div class="popup popup--jib">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <span class="popup__title">
        Опросный лист <br />
        для крана консольного
      </span>

      <form class="form-submit">
        <div class="form-submit__inner">
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Характеристика перемещаемого груза
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Грузоподъемность, т </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Вылет консоли (стрелы), м </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Габаритная высота крана </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Высота подъема крюка, м </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Угол поворота консоли </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Привод поворота консоли </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Необходимость комплектации грузоподъемной талью
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Тип тали </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Конструктивные особенности тали</span
            >
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Режим работы (3К, 4К) </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Периодичность включений (25, 40) %
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Температура окружающей среды, град. С
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Место установки </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Исполнение крана </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Степень защиты электрооборудования
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Необходимость радиоуправления
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Наличие тормоза на передвижение тали
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Наличие двух скоростей на передвижение тали, м/с
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Наличие двух скоростей на механизм подъема,м/с
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Наименование предприятия, организации заказчика, ИНН/КПП
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Адрес предприятия, организации заказчика</span
            >
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Ответственное лицо заказчика(должность, Ф.И.О.) (контактный
              телефон/факс)
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Руководитель предприятия (должность, Ф.И.О.)
            </span>
          </label>
        </div>

        <button class="form-submit__btn btn" type="button">
          ОТПРАВИТЬ опросный лист
        </button>
      </form>
    </div>
  </div>
</div>

<div class="popup popup--span-cart">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <span class="popup__title">
        Опросный лист <br />
        для межпролетной тележки
      </span>

      <form class="form-submit">
        <div class="form-submit__inner">
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Грузоподъемность, т </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Скорость передвижения, м/с </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Размеры грузовой платформы (LхВ), мм
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Грузовая платформа </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Высота тележки от оси катания рельса до верхней точки грузовой
              платформы (Н), мм
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Колея (расстояние между осями подтележечных рельсов), мм
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Тип и размер подтележечного рельса
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Климатическое исполнение: У; Т</span
            >
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Категория размещения: 1; 2; 3; 4
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Температура окружающей среды </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Рабочее напряжение, В, род тока
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Группа режима </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Исполнение </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Токоподвод </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Управление </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Длина пути, м</span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Приборы безопасности </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Оборудование, устанавливаемое на тележке
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Оснащение тормозом механизма передвижения</span
            >
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Длина пути: в помещении и на улице
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Тип привода тележки </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Дополнительные требования </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Наименование предприятия, организации заказчика, ИНН/КПП
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Адрес предприятия, организации заказчика
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Ответственное лицо заказчика(должность, Ф.И.О.) (контактный
              телефон/факс)</span
            >
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Руководитель предприятия (должность, Ф.И.О.)
            </span>
          </label>
        </div>

        <button class="form-submit__btn btn" type="button">
          ОТПРАВИТЬ опросный лист
        </button>
      </form>
    </div>
  </div>
</div>

<!-- Лебедки -->
<div class="popup popup--winches">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <span class="popup__title">
        Опросный лист <br />
        для заказа лебедки
      </span>

      <form class="form-submit">
        <div class="form-submit__inner">
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Грузоподъёмность, (т) </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Пролёт, (м)</span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Высота подъёма груза, (м) </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Место установки крана</span>
          </label>
          <label class="form-submit__group form-submit__group--big">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"> Управление краном </span>
          </label>

          <div class="checkboxes">
            <span class="checkboxes__text">Рабочие скорости:</span>

            <div class="checkboxes__list">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" required />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Передвижения крана </span>
              </label>
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" required />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Передвижения тележки</span>
              </label>
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" required />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Основного подъема </span>
              </label>
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" required />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"
                  >Вспомогательного подъема (при наличии)</span
                >
              </label>
            </div>
          </div>

          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Расстояние от головки подкранового рельса до первого перекрытия
              (м)
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Исполнение </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Исполнение </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Характеристика среды </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Профиль подкранового пути (тип рельса)
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Длина подкранового пути (м) </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Грузозахватное приспособление, применяемое при работе</span
            >
          </label>
          <label class="form-submit__group g">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Рабочее напряжение, В, род тока
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Необходимость наличия частотных преобразователей в эл.схеме
              управления краном</span
            >
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Токоподвод </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Температурный режим на уровне крана (ОС)
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">Схема компоновки механизмов </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Группа режима (режим работы крана)
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Количество заказываемых кранов (единиц)
            </span>
          </label>
          <label class="form-submit__group form-submit__group--big">
            <textarea
              class="form-submit__input form-input form-submit__input--textarea"
            ></textarea>

            <span class="form-submit__text">
              Особые требования к изготовлению крана
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text">
              Наименование предприятия, организации заказчика, ИНН/КПП</span
            >
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Адрес предприятия, организации заказчика
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Ответственное лицо заказчика(должность, Ф.И.О.) (контактный
              телефон/факс)
            </span>
          </label>
          <label class="form-submit__group">
            <input class="form-submit__input form-input" type="text" required />

            <span class="form-submit__text"
              >Руководитель предприятия (должность, Ф.И.О.)
            </span>
          </label>
        </div>

        <button class="form-submit__btn btn" type="button">
          ОТПРАВИТЬ опросный лист
        </button>
      </form>
    </div>
  </div>
</div>

<!-- Звоное -->
<div class="popup popup--order">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <span class="popup__title"> Заказать звонок </span>

      <form class="form-submit">
        <div class="form-submit__group">
          <label class="form-submit__label">Имя </label>
          <input class="form-submit__input" type="text" required />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label">Телефон </label>
          <input class="form-submit__input" type="tel" required />
        </div>

        <button class="form-submit__btn btn" type="button">
          Заказать звонок
        </button>
      </form>
    </div>
  </div>
</div>
