<section class="request">
  <div class="container">
    <div class="request__offer">
      <h2 class="request__title">
        Оставьте заявку для расчета стоимости кранового оборудования
      </h2>

      <form class="request__form form-submit">
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="text"
            placeholder="Ваше имя"
          />
        </label>
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="tel"
            placeholder="Контактный телефон"
          />
        </label>
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="email"
            placeholder="Электронная почта"
          />
        </label>
        <label class="form-submit__group">
          <input class="form-submit__input" type="text" placeholder="Город" />
        </label>
        <div class="form-submit__group">
          <select class="form-submit__select select">
            <option value="0">Выберите продукцию</option>
            <option value="1">Выберите продукцию</option>
            <option value="2">Выберите продукцию</option>
            <option value="3">Выберите продукцию</option>
          </select>
        </div>
        <label class="form-submit__group">
          <textarea
            class="form-submit__input"
            placeholder="Комментарий"
          ></textarea>
        </label>

        <button class="form-submit__btn btn" type="submit">
          Отправить заявку
        </button>

        <p class="form-submit__text">
          Отправляя заявку, Вы соглашаетесь с
          <a href="#"> политикой конфиденциальности </a>
        </p>
      </form>
    </div>
  </div>
  <div class="request__bg"></div>
</section>
